.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar-container {
  background-color: #002b5b;
}
.page {
  background-color: #002b5b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#about {
  background-color: #2b4865;
}

#industries {
  background-color: #256d85;
}

#pricing {
  background-color: #8fe3cf;
}
