.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-container {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.navbar-nav {
  --bs-nav-link-color: rgba(255, 255, 255, 0.8) !important;
}

.page {
  background-color: #002b5b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#home {
  background-image: url("./assets/hero_bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

#about {
  background-color: #2b4865;
}

#industries {
  background-color: #256d85;
}

#pricing {
  background-color: #8fe3cf;
}

.btn:focus {
  outline: none !important;
}

.hero-btn {
  background-color: transparent !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 0.14) !important;
  border-radius: 0px !important;
}

#about-btn {
  background-color: white !important;
  color: black;
}

#about-btn:hover {
  color: white;
  border: 3px solid white !important;
  background-color: transparent !important;
}
#products-btn {
  color: white;
  border: 3px solid white !important;
  margin-left: 2%;
}

#products-btn:hover {
  color: black;
  background-color: white !important;
  margin-left: 2%;
}
